.App {
  text-align: center;
}

button {
  position: fixed;
  left: 50%;
  bottom: 1rem;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 700;
  transform: translateX(-50%);
  cursor: pointer;
}

.Dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  padding: 3rem 7rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
}

.Close {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.Close:hover {
  color: firebrick;
}
